<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Cucumber Suite" verbose="1" data-provider-thread-count="2">

    <listeners>
        <listener class-name="listners.TestNGTransformer"/>
    </listeners>

    <test name="Cucumber Test">
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test>

</suite>
